body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#gallery > div {
	flex: 0 0 auto;
	width: 48%;
	text-align: center;
}

#player {
	display: none;
}